<div class="footer is-primary">
  <div class="container">
    <div class="icons">
        <a href="https://twitter.com/martinwcr" class="btn"><i class="fa fa-twitter-square twt" aria-hidden="true"></i></a>

        <a href="https://www.facebook.com/luthers.martin.5/" class="btn"><i class="fa fa-facebook-square fb" aria-hidden="true"></i></a>

        <a href="https://github.com/martinwachira" class="btn"><i class="fa fa-linkedin-square lkd" aria-hidden="false"></i></a>

        <a href="" class="btn"><i class="fa fa-google-plus-square ggl" aria-hidden="true"></i></a>
    </div>


    <div class="fcop myname">
      <h2>Copyright  &copy; <strong><u>Martin Wachira</u></strong> Portfolio</h2>
    </div>
  </div>
</div>
