<div class="projects" id="projects">
  <div class="container">
    <h1 class="title is-title">My Technical Projects</h1>
    <h2 class="subtitle">During my software development career, I have been involved in development of
      top-market products, ranging from various niches. Via my main stack <a
          href="https://laravel.com/">(Laravel)</a>, I have
      developed <a href="https://restfulapi.net/">RESTful api's</a> and consumed the same via
      Angular and React in front-end.
      Besides these stacks, I have been involved in creation of Health softwares via OpenMRS
      and ASP.Net frameworks</h2>
  </div>
  <div class="project">
    <div class="columns">
      <div class="column is-half-tablet is-one-third-desktop">
        <figure class="image" (mouseover)="onToggle()">
          <img src="assets/images/code.png" alt="" class="project-thumb" />
          <figcaption class="{{ !onHover ? 'hidden' : 'visible' }}">
            <h2 class="subtitle is-white">
              <span class="d-column justify-content-center">
                <h4> <u> Life at Bespoke Interactive</u></h4><br>
                <strong><em>Jan 2018 - Feb 2020</em></strong>
              </span>
              <br>
              Bespoke Interactive is a consultancy/software dev company in Nairobi, Kenya. <br>
              During my stay in this Org. I was involved in development of various major Software Products. They
              include but not limited to
              <br>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-check-fll" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                      d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
              </svg>
              <a href="http://afyaehms.ddns.net:8085/demo/login.htm"> HRH Dashboard for Ministry of Health</a>
              <br>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-check-fll" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                      d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
              </svg>
              <a href="http://etbsomalia.worldvision.or.ke/Account/Login?ReturnUrl=%2F"> Electronic TB Web App
                  for Somalia</a>
              <br>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-check-fll" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                      d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
              </svg>
              ETB Android App
            </h2>
            <a class="btn button is--primary is--outline is--rounded" href="http://etbsomalia.worldvision.or.ke/Account/Login?ReturnUrl=%2F" target="_blank"><span>Visit Website</span><span class="icon"><i class="fas fa-angle-right"></i></span></a>
          </figcaption>
          <div class="overlay"></div>
        </figure>
      </div>

      <div class="column is-half-tablet is-one-third-desktop">
        <figure class="image" (hover)="onToggle()">
          <img src="assets/images/riserafrica.jpeg" alt="" class="project-thumb" />
          <figcaption>
            <h2 class="subtitle is-white">
              <span class="d-column justify-content-center">
                <h4> <u> <a href="http://riserafricaapp.georgekprojects.tk/">Riser Africa</a> , is a web forum app, that me and
                  my 2 other friends developed to achieve Facebook/Andela,
                  No Poverty SDG Goal.</u></h4><br>
                <strong><em>My tasks</em></strong>
              </span>
              <br>
              <span>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-check-fll" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                </svg> Fullstack development (Laravel/React)</span>
            </h2>
            <a class="btn button is--primary is--outline is--rounded" href="http://riserafricaapp.georgekprojects.tk/" target="_blank"><span>Visit Website</span><span class="icon"><i class="fas fa-angle-right"></i></span></a>
          </figcaption>
          <div class="overlay"></div>
        </figure>
      </div>

      <div class="column is-half-tablet is-one-third-desktop">
        <figure class="image" (hover)="onToggle()">
          <img src="assets/images/hr-main.png" alt="" class="project-thumb" />
          <figcaption>
            <h2 class="subtitle is-white">
              <span class="d-flex justify-content-center">
                <h4> <u>Human Resource</u></h4>
              </span>
              <br>
              This project was solely my own brainchild. It's main objective is to curb the small differences that are
              not addressed in commercial <a href=" HRMS"> HRMS</a>
              <br><u>Technologies Used</u><br>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-check-fll" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                </svg> Laravel/AdminLTE/Bootstrap
            </h2>
            <a class="btn button is--primary is--outline is--rounded" href="http://riserafricaapp.georgekprojects.tk/" target="_blank"><span>Visit Website</span><span class="icon"><i class="fas fa-angle-right"></i></span></a>
          </figcaption>
          <div class="overlay"></div>
        </figure>
      </div>

      <div class="column is-half-tablet is-one-third-desktop">
        <figure class="image" (hover)="onToggle()">
          <img src="assets/images/real.jpeg" alt="" class="project-thumb" />
          <figcaption>
            <h2 class="subtitle is-white">
              This is a web app project mainly developed to offer cloud space services to start-up business, build via
              php/Html5 and Js.
              Currently on Dev mode.
            </h2>
            <a class="link btn" style="border: none; padding: 0; height: 27px;" disabled=""><span class="icon"><i class="fal fa-tools"></i></span><span>In development</span></a>
          </figcaption>
          <div class="overlay"></div>
        </figure>
      </div>
    </div>
    <div class="card card-container" style="background-color: #151b4a;">
      <div class="box">
        <div class="card-title">
          <h1 style="color: white;">Other Tech Projects</h1>
        </div>
        <div class="card-columns">
          <div class="card-item">
            <div class="levels">
              <div class="level-item">
                <h2 class="subtitle" style="color: white;">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-fill-check" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                          d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zm2.854 6.354a.5.5 0 0 0-.708-.708L7.5 8.793 6.354 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                  </svg> Online Pizza Order/Delivery App</h2>
                </div>
                <div class="level-item-btn">
                <a href="https://yummi-unchained.herokuapp.com/" class="button is--primary is--rounded is--outline">Link Here</a>
              </div>
            </div>
          </div>

          <div class="card-item">
            <div class="levels">
              <div class="level-item">
                <h2 class="subtitle" style="color: white;">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-fill-check" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                          d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zm2.854 6.354a.5.5 0 0 0-.708-.708L7.5 8.793 6.354 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                  </svg>E-Mentoring Online Porto</h2>
              </div>
              <div class="level-item-btn">
                <a href="https://yummi-unchained.herokuapp.com/" class="button is--primary is--rounded is--outline">Link Here</a>
              </div>
            </div>
          </div>

          <div class="card-item">
            <div class="levels">
              <div class="level-item">
                <h2 class="subtitle" style="color: white;">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-fill-check" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                          d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zm2.854 6.354a.5.5 0 0 0-.708-.708L7.5 8.793 6.354 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                  </svg>Mini-Netflix Web App</h2>
              </div>
              <div class="level-item-btn">
                <a href="https://martin-wachira.github.io/" class="button is--primary is--rounded is--outline">Link Here</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="freelance-projects-container">
    <div class="is-primary">
      <div class="freelance-projects-header">
        <h1 class="d-flex justify-content-center title is-title">Freelance/Personal Projects</h1>
        <h2 class="subtitle">
            To ensure that I make myself productive at all times, together with my data enthusiasm,
            I write <a href="https://www.python.org/">python</a> scripts to
            scrap data for fun and for commercial purposes. To achieve this, I mostly use Selenium,
            lxml, BeautifulSoup, scrapy and Pandas.
            Besides scrapping, I write Articles, Product Description and Blo Posts.
        </h2>
      </div>
    </div>

    <div class="container">
      <div class="card" style="border-radius: 12px;">
        <div class="row">
          <div class="col-md-8">
            <img src="assets/images/gavinscraper.png" alt="">
          </div>
          <div class="col-md-4">
            <h2 class="subtitle">
              <span class="d-flex justify-content-center">Python scripts</span>
            </h2>
            <h2 class="subtitle">
            This tool is used to scrap all emails of users on different roles on a website for data analysis.
            </h2>
          </div>
        </div>
      </div>


      <div class="card" style="border-radius: 12px;">
        <div class="row">
          <div class="col-md-7">
            <h2 class="subtitle">
              Python scrapper used to get images and entire metadata of various users on a website.
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 0 0 1 2.82z"/>
                  <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z"/>
                </svg> Learning was the
              main inspiration of this project.
            </h2>
          </div>
          <div class="col-md-5">
            <img src="assets/images/scrp.jpeg" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="btn--column">
        <a class="button is--primary is--outline is--rounded" href="https://www.upwork.com/freelancers/~017841a7b305f10d45?viewMode=1"><span class="icon"><i class="fab fa-upwork"></i></span><span>See more on Upwork</span></a>
      </div>
    </div>
  </div>
</div>


